/* Horizon CSS Styles  */
*, *::before, *::after {
    box-sizing: border-box;
  }
  .alert-primary {
    font: 600 .9rem Montserrat, sans-serif;
  }
  .alert-light {
    font: 600 .9rem Montserrat, sans-serif;
  }
  .form-floating>.form-control, .form-floating>.form-select {
    font: 600 .9rem Montserrat, sans-serif;
  }
  .status-form-check {
    display: block;
    position:absolute;
    top:13px;
    left:20px;
    margin:auto;
  }
  .status-card {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
    background-color:rgb(191, 209, 230);
  }
  .status-card .card-body .current-status{
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
  }
  .status-card .card-body .current-status .statusText{
    text-align:center;
  }
  .dashHeader {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content: center;
    width:100%;
    height:320px;
    margin-bottom:30px;
  }
  .bg_top {
    background-color:#efefef;
  }
  .nextStepCards {
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:flex-start;
    overflow-x:hidden;
    overflow-y:scroll;
    background-color:#ffffff;
  }
  .progress-container {
    display:flex;
    flex:1;
    width:100%;
    height:auto;
    padding:22px 20px;
    background-color:#2c2c2c;
    background-image: linear-gradient(0deg, rgb(29, 29, 29) 40.91%, #2e2e2e 40.91%, #2f2f2f 50%, #303030 50%, #303030 90.91%, #303030 90.91%, #303030 100%);
    background-size: 6px 6px;
    background-repeat: repeat;
    background-position: top center;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #383838;
    border-bottom: 4px solid #383838;
  }
  .progress_wrap {
    width:100%;
    max-width:1320px;
  }
  .progress {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); /* Centers the bar vertically */
    z-index: -1; /* Place the progress bar behind the cards */
  }
  .step-card {
    text-align: center;
    background-image: linear-gradient(to right top, #e5e5e5, #d3d3d3, #dfdfdf, #e7e7e7, #eeeeee);
  }
  .step-card.active {
    background-image: linear-gradient(to right top, #051937, #123560, #1c558c, #1f77bb, #129beb);
  }
  .chooseTitle {
    color:rgb(68, 68, 68);
    font: 500 1rem Montserrat, sans-serif !important;
    margin-bottom:14px;
  }
  .step-card .card-body h5 {
    color:rgb(68, 68, 68);
    font: 400 1rem Montserrat, sans-serif !important;
    margin:0;
  }
  .step-card.active .card-body h5 {
    color:white;
    font: 600 1rem Montserrat, sans-serif !important;
    margin:0;
  }
  .maxwidthcard {
    width:100%;
    max-width:300px;
    margin: 0 auto;
  }
  #chooseAgentVoice {
    height:100%;
  }
  #chooseAgentText {
    height:100%;
  }
  .chooseAgentWrapper {
    display:flex;
    flex-flow:column;
    justify-content: center;
    margin-top:40px;
    height:100%;
  }
  .transcriptContainer {
    display:flex;
    justify-content:center;
    align-items:center;
    width:80%;
    height:80px;
    padding:20px;
    background-color:#363636;
    border-radius:5px;
    overflow:hidden;
  }
  .transcriptContainer span {
    font: 400 .9rem Montserrat, sans-serif !important;
    color:rgb(231, 255, 193) !important;
  }
  .pre_wrapper {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
    background-color:rgb(33, 33, 33);
    background-image: linear-gradient(0deg, rgb(29, 29, 29) 40.91%, #2e2e2e 40.91%, #2f2f2f 50%, #303030 50%, #303030 90.91%, #303030 90.91%, #303030 100%);
    background-size: 6px 6px;
    background-repeat: repeat;
    background-position: top center;
    border-radius:8px;
    overflow:hidden;
    height:auto;
    margin:0 20px;
    max-width:420px;
  }
  .pre_wrapper2 {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
    background-color:rgb(33, 33, 33);
    background-image: linear-gradient(
      0deg, 
      rgba(29, 29, 29, 0.7) 40.91%, 
      rgba(46, 46, 46, 0.7) 40.91%, 
      rgba(47, 47, 47, 0.7) 50%, 
      rgba(48, 48, 48, 0.7) 50%, 
      rgba(48, 48, 48, 0.7) 90.91%, 
      rgba(48, 48, 48, 0.7) 90.91%, 
      rgba(48, 48, 48, 0.7) 100%
    );
    background-size: 6px 6px;
    background-repeat: repeat;
    background-position: top center;
    border-radius:8px;
    overflow:hidden;
    height:auto;
    margin:0 20px;
    max-width:420px;
    opacity: .9;
    border: 2px solid #faa019; 
    overflow:hidden;
  }
  .pre_wrapper_clear {
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
    border-radius:8px;
    overflow:hidden;
    height:auto;
    margin:0 20px;
    min-width:300px;
    max-width:420px;
    background-color:rgba(17, 30, 43, 0.776);
  }
  #textUx {
    padding:8px 10px;
    border-radius:6px;
    overflow:hidden;
    background-color:#f4f4f4;
    margin:0 auto;
  }
  .text-white {
    color:white;
    font: 600 1.1rem Montserrat, sans-serif !important;
  }
  #setAudio,
  #chooseAgent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  #setAudio .card,
  #chooseAgent .card {
    margin-top: 200px;
  }
  
  .agent-image {
    height: 280px;
    object-fit: cover;
    object-position: top center;
    cursor: pointer;
  }
  
  .agent-selection-row {
    max-height: calc(100vh - 200px); /* Adjust the height as needed */
    overflow-y: auto;
  }
  
  #setAudio {
    background-image: url('../img/application.jpg');
  }
  
  #chooseAgent {
    background-image: url('../img/application.jpg');
  }
  
  .agent-image1 {
    background-image: url('../img/agents/agent1.jpg');
  }
  
  .agent-image2 {
    background-image: url('../img/agents/agent2.jpg');
  }
  
  .agent-image3 {
    background-image: url('../img/agents/agent3.jpg');
  }
  .input-selection-card {
    max-width: 400px;
    margin-top: 100px;
  }
  
  .input-selection-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .input-selection-buttons button {
    flex: 1;
    margin: 0 5px;
  }
  .ui_shadow {
    box-shadow: 0px 10px 1px rgba(221, 221, 221, 1), 0 10px 20px rgba(204, 204, 204, 1);
  }
  html, body {
    height:100%;
    width:100%;
  }
  #timerCount {
    font: 700 1.3rem Montserrat, sans-serif !important;
    color:white;
  }
  .voiceContainer {
    display: flex;
    justify-content: center;
    height:50px;
  }
  .v_bars {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar {
    background: #ed1f1f;
    bottom: 1px;
    height: 3px;
    width: 10px;
    margin: 0px 4px;
    border-radius: 5px;
    animation: sound 0ms -600ms linear infinite alternate;
  }
  .chatUx {
    display:flex;
    align-items:center;
    justify-content:center;
    position: fixed;
    bottom: 40px;
    z-index: 9999;
    width:100%;
  }
  .chatUxWrapper {
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
  }
  .input-group {
    display: flex;
    width: 100%;
  }
  .form-control {
    flex-grow: 1; /* Make input take up available space */
  }
  .input-group-append {
    flex-shrink: 0; /* Prevent button from shrinking */
  }
  .pre-approval-card {
    margin-top: 20px;
    border: 1px solid #efefef; 
    padding: 20px;
    max-width:320px;
    margin: 0 auto;  
    text-align: center;
  }
  h2, h5 {
      font: 600 1.1rem Montserrat, sans-serif !important;
      color:rgb(74, 74, 74);
  }
  p {
      font: 400 1rem Montserrat, sans-serif !important;
      color:rgb(74, 74, 74);
  }
  .white {
    color:rgb(255, 255, 255) !important;
  }
  .application_bg {
    background-image: url(../img/application.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .splash_intro {
    font: 600 1.5rem "Amaranth", sans-serif !important;
    color:white;
    margin:20px 30px;
    text-align:center;
  }
  .splash_intro_text {
    font: 400 .9rem "Open Sans", sans-serif !important;
    color:white;
    margin:0px 30px;
    text-align:center;
  }
  .link {
    cursor:pointer;
  }
  #phone_login_form {
    background-color:white;
    border-radius:8px;
    padding:40px;
    overflow:hidden;
    border: solid 1px #e1e1e1;
  }
  .register_bg {
    background-color:#f5f5f5;
  }
  #nda_register {
    background-color:white;
    border-radius:8px;
    padding:20px;
    overflow:hidden;
    border: solid 1px #e1e1e1;
    max-width:450px;
    margin:0 auto;
  }
  .logRegTitle {
    font: 600 .9rem Montserrat, sans-serif !important;
    color:#4f606e;
  }
  .form-control {
    font: 500 1.rem Montserrat, sans-serif !important;
    color:#4f606e;
  }
  .nav-icon svg {
    fill: white;
    cursor:pointer;
  }
  .optionWrapper {
    display:flex;
    flex:1;
    flex-flow:column;
    justify-content:space-around;
    align-items: flex-start;
  }
  .optionLink {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      border: solid 1px #033c72;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      background: #003262;
      color: #FFF;
      padding: 8px 12px;
      text-decoration: none;
      margin-bottom:8px;
      font: 800 .9rem Montserrat, sans-serif !important;
      cursor: pointer;
  }
  .optionLink:hover {
    background: #0c5497;
    color:white !important;
  }
  .onTop {
    z-index:2147483647;
  }
  .modalHistory {
    margin-bottom:200px;
  }
  .msger {
    display: flex;
    position:relative;
    flex-flow: column wrap;
    justify-content: space-between;
  }
  .msger-header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the content */
    padding: 10px;
    border-bottom: var(--border);
    background-image: linear-gradient(0deg, rgb(29, 29, 29) 40.91%, #2e2e2e 40.91%, #2f2f2f 50%, #303030 50%, #303030 90.91%, #303030 90.91%, #303030 100%);
    background-size: 6px 6px;
    background-repeat: repeat;
    background-position: top center;
    color: #ededed;
    width: 100%;
    height: 38px;
    z-index: 999;
    overflow:hidden;
  }
  .msger-header-agent {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center the content */
    padding: 10px;
    border-bottom: var(--border);
    background-image: linear-gradient(0deg, rgb(29, 29, 29) 40.91%, #2e2e2e 40.91%, #2f2f2f 50%, #303030 50%, #303030 90.91%, #303030 90.91%, #303030 100%);
    background-size: 6px 6px;
    background-repeat: repeat;
    background-position: top center;
    color: #ededed;
    width: 100%;
    height: 38px;
    z-index: 999;
    overflow:hidden;
  }
  
  .msger-header-title {
    display: flex;
    align-items: center; /* Vertically center the content */
  }
  
  .msger-header-options {
    display: flex;
    background-color: rgba(255, 255, 255, 0.167);
    border-radius: 7px;
    margin-right: 14px;
    padding: 0 7px;
    align-items: center;
    justify-content: flex-end; /* Align to the right */
    height: 100%; /* Fill the height */
  }
  
  .msger-header-options:hover {
    background-color: #565f7b;
    cursor: pointer;
    color:white;
  }
  
  .bot_load_logo {
    display:flex;
    width:200px;
    margin:40px auto 20px auto;
  }

  .cbot_load_logo {
    display:flex;
    width:340px;
    margin:0px auto 20px auto;
    border-radius:8px;
    overflow:hidden;
  }
  
  .nda-nav-lgo {
    display: flex;
    margin-left: 8px;
    width: 100px;
    height: auto;
  }
  
  #loader {
    display: flex;
    align-items: center;
    justify-content:center;
  }

  .nda-nav-lgo {
    display:flex;
    margin-left:8px;
    width:100px;
    height:auto;
  }
  .msg {
    display: flex;
    position:relative;
    align-items: flex-end;
    margin-bottom: 18px;
    z-index:99;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    display:flex;
    flex:0 0 50px;
    height:50px;
    margin-right: 10px;
    background: rgb(235, 234, 212);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 10px 1px rgb(208, 208, 208), 0 10px 20px rgb(185, 185, 185);
  }
  .msg-bubble {
    max-width: 650px;
    padding: 15px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.82);
    box-shadow: 0px 10px 1px rgb(208, 208, 208), 0 10px 20px rgb(185, 185, 185);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .msg-info-name {
    margin-right: 10px;
    font: 800 1rem Montserrat, sans-serif !important;
    color:#2c2c2c;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  .left-msg .msg-bubble .msg-text {
    text-align:start;
  }
  .right-msg {
    margin-top:18px;
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #313131;
    border-bottom-right-radius: 0;
    background-color:rgb(235, 234, 212);
    box-shadow: 0px 10px 1px rgb(208, 208, 208), 0 10px 20px rgb(185, 185, 185);
  }
  .right-msg .msg-bubble .msg-text {
    text-align:end;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
    font: 800 1rem Montserrat, sans-serif;
    box-shadow: 0px 10px 1px rgb(208, 208, 208), 0 10px 20px rgb(185, 185, 185);
  }

  .questionAnswerPair p {
    color: #313131;
    font: 500 .9rem Montserrat, sans-serif;
  }
  .questionAnswerPair p.answer {
    color: #e40a0a;
    font: 600 .9rem Montserrat, sans-serif;
  }
  .questionAnswerPair p span {
    color: #313131;
    font: 600 .9rem Montserrat, sans-serif;
  }
  .msg-text {
    color: #313131;
    font: 600 .9rem Montserrat, sans-serif;
  }
  .btn-primary {
    font: 800 1.2rem Montserrat, sans-serif;
    color: #fff;
    background-image: linear-gradient(to right top, #051937, #123560, #1c558c, #1f77bb, #129beb);
    border:none;
    padding: 14px 48px;
  }
  .btn-primary:hover {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    box-shadow: rgba(6, 24, 44, 0.1) 0px 0px 0px 2px, rgba(6, 24, 44, 0.25) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: opacity 0.3s ease-in-out;
  }
  .max_width_body {
    max-width: 1200px;
    margin: 0 auto;
  }
  .copyright_wrapper {
    display:flex;
    flex:1;
    width:100%;
    height:100%;
    max-width:1200px;
    margin:0 40px;
    border-left: 2px solid #ffffff14;
    border-right: 2px solid #ffffff14;
    align-items:center;
    justify-content:center;
  }
  .copyright_wrapper span {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:12px;
    color:white;
    text-align:center;
  }
  .btn_primary {
    background-color: #F5B233;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    color:white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }
  .btn_secondary {
    background-color: #2d2d2d;
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
    color:white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }
  .nda_bg {
    background-image: url(../img/nda_bg_tint.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .c_assistant_bg {
    background-image: url(../c_assistant/c_assistant_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .bot_load {
    display:flex;
    flex:1;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:#fff;
    z-index:2147483647;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-image: url(../img/nda_bg_tint.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
  }
  .cbot_load {
    display:flex;
    flex:1;
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:#fff;
    z-index:2147483647;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    background-image: url(../c_assistant/c_assistant_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .card-img, .card-img-top {
    border-color:#efefef4b;
    border-radius:5px;
  }
  .bot_load span {
    font: 900 .9rem Montserrat, sans-serif;
    color:#2c2c2c;
  }
  .btn-primary {
    background-color:#003262;
    font: 600 .9rem Montserrat, sans-serif;
    border:none;
  }
  .btn-secondary {
    display:flex;
    align-items:center;
    justify-content:center;
    font: 800 .9rem Montserrat, sans-serif;
    border:none;
  }
  .btn-welcome {
    background-color:#eeeeee;
    font: 800 .9rem Montserrat, sans-serif;
    border:none;
    color:#003262;
    padding:18px 32px;
    margin-left: auto !important; 
     margin-right: auto !important;
  }
  .btn-welcome:hover {
    background-color:#5396c3;
    font: 800 .9rem Montserrat, sans-serif;
    border:none;
    color:#ffffff;
    padding:18px 32px;
  }
  .btn-record {
    background-color:#eeeeee;
    font: 800 .9rem Montserrat, sans-serif;
    border:none;
    color:#003262;
    padding:18px 32px;
    margin-left: auto !important; 
     margin-right: auto !important;
  }
  .btn-record:hover {
    background-color:#53c373;
    font: 800 .9rem Montserrat, sans-serif;
    border:none;
    color:#ffffff;
    padding:18px 32px;
  }
  .btn-record.recording {
    animation: recordpulse 1s infinite;
  }
  .copyright_wrapper {
    border-left: none;
    border-right: none;
  }
  div.intakeWrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 1184px;
    height: 100%;
    padding-bottom:8px;
    margin:0 8px 0 8px;
  }
  div.intakeWrapper > div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border: 1px solid #525151;
    border-radius: 8px;
    flex-grow: 1;
    background-color: #363636;
  }
  div.intakeWrapper > div span {
    font: 600 .8rem Montserrat, sans-serif;
    color:rgb(187, 187, 187);
  }
  div.speech_visualizer {
    width: 40%;
    background-color: rgb(212, 212, 212);
    flex-grow: 0;
  }
  .btn-success {
    color: #fff;
    background-color: #0691b3;
    border-color: #0691b3;
    font: 600 1rem Montserrat, sans-serif;
  }
  .copyright_wrapper {
    border-left: none;
    border-right: none;
  }
  .horizon_hero {
    display: flex;
    position:relative;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .hero_bg1 {
    position: relative;
    background-image: url(../img/chat_bg.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: auto;
  }
  .msger {
    display:block;
    height:100%;
  }
  .horizon_bot {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y:scroll;
  }
  .msger-chat-welcome {
    display: flex;
    overflow-y: scroll;
    padding: 10px 10px 120px 10px;
    flex-flow: column;
    justify-content: flex-end;
  }
  .msger-chat {
    flex: 1;
    position: relative;
    overflow-y: scroll;
    padding: 10px;
    height:100%;
    width: 100%;
    padding-bottom:322px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msger-inputarea {
    display: flex;
    position: absolute;
    margin:0 auto;
    bottom:0;
    left:0;
    right:0;
    border-top: var(--border);
    background-color: #003262;
    width: 100%;
    max-width: 1200px;
    z-index:2147483646;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding:10px;
    overflow: hidden;
    box-shadow: 0 -2px 1px rgba(0,0,0,0.04), 0 -4px 2px rgba(0,0,0,0.04), 0 -8px 4px rgba(0,0,0,0.04), 0 -16px 8px rgba(0,0,0,0.04), 0 -32px 16px rgba(0,0,0,0.04);
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: #313131;
    font: 700 1.1rem Montserrat, sans-serif;
  }
  .msger-input {
    flex: 1;
    background: #f8f8f8;
    min-height: 20px;
    max-height: 75px;
    overflow-y: auto;
    outline: none;
    white-space: pre-wrap;
    word-break: break-word;
  }
  .msger-input::before {
    content: attr(data-placeholder);
    display: block;
    position: absolute;
    color: #ccc;
    pointer-events: none;
  }
  .msger-input.filled::before {
    display: none;
  }
  .msger-input:empty:before {
    content: attr(data-placeholder);
    color: #ccc;
    pointer-events: none;
  }
  .msger-input.filled:before {
    content: none;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: #ffffff;
    color: #003262;
    font-weight: bold;
    transition: background 0.23s;
    cursor: pointer;
  }
  .msger-send-btn:hover {
    background: #094a87;
    color:white;
  }
  section.intakeUx {
    position:relative;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 63, 63);
    overflow-x:scroll;
    z-index:2147483645;
  }
  .horizontes_footer {
    display:flex;
    position:relative;
    height:6%;
    background-color:#2c2c2c;
    align-items:center;
    justify-content:center;
    z-index:2147483645;
  }
  .bg_bricks {
  
  }
  .nda_bar {
    display:block;
    position:absolute;
    width:100%;
    height:38px;
    top:0;
    left:0;
    right:0;
    background-image: linear-gradient(0deg, rgb(29, 29, 29) 40.91%, #2e2e2e 40.91%, #2f2f2f 50%, #303030 50%, #303030 90.91%, #303030 90.91%, #303030 100%);
    background-size: 6px 6px;
    background-repeat: repeat;
    background-position: top center;
  }
  
  .timer-bubble {
    background-color: #f1f1f1;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .btn-primary.active {
    background-color: green;
    border-color: green;
  }
  .editAppBtn {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .editAppBtn:hover {
    background-color: #003262; 
    color: white;
  }
  
  .editAppBtn:hover {
    animation: btn_pulse 1.5s infinite alternate; 
  }
  
  .editAppBtn:hover .card-title { /* More specific */
    color: white;
  }
  
  @media (orientation: portrait) {
    div.intakeWrapper > div span {
      font: 800 .6rem Montserrat, sans-serif;
      color:rgb(187, 187, 187);
    }
    .progress-container {
      display:none;
    }
  }
  
  @keyframes recordpulse {
    0% {
      background-color: #eeeeee;
    }
    50% {
      background-color: #ff0000;
    }
    100% {
      background-color: #eeeeee;
    }
  }
  
  @keyframes btn_pulse {
    from {
      opacity: 0.9; 
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {opacity: .75; background-color:#363636;} /* Set the initial color and opacity */ 
     10% {transform: scale(1.2);}   /* Scale up to slightly larger than normal after a quarter of the animation */ 
     50% {opacity: .7;}            /* Halfway through, set opacity to be slightly less than normal (to make up for the scale down) */ 
     100% {opacity: .75; transform: scale(1); background-color:#363636;} /* Reset to normal size and color after the animation is done */
  } 
  
  @keyframes sound {
    0% {
       opacity: .35;
        height: 3px; 
    }
    100% {
        opacity: 1;       
        height: 40px;        
    }
  }
  
  .bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
  .bar:nth-child(2)  { left: 15px; animation-duration: 433ms; }
  .bar:nth-child(3)  { left: 29px; animation-duration: 407ms; }
  .bar:nth-child(4)  { left: 43px; animation-duration: 458ms; }
  .bar:nth-child(5)  { left: 57px; animation-duration: 400ms; }
  .bar:nth-child(6)  { left: 71px; animation-duration: 427ms; }
  .bar:nth-child(7)  { left: 85px; animation-duration: 441ms; }
  .bar:nth-child(8)  { left: 99px; animation-duration: 419ms; }
  .bar:nth-child(9)  { left: 113px; animation-duration: 487ms; }
  .bar:nth-child(10) { left: 127px; animation-duration: 442ms; }